---

- block:
  - ansible.builtin.set_fact:
      b64encoded_gpg_public_key: {}
      b64encoded_gpg_private_key: {}
      gpg_public_key: {}
      gpg_private_key: {}
      gpg_listkeys_colonsfmt: {}
      gpg_fingerprint_generatedkey: ""
      gpg_fingerprint_generatedkey_found: true
      secrets_setup_gpg_public_key: ""
      secrets_setup_gpg_private_key: ""
      secrets_setup_gpg_fingerprint_importedkey: ""
      secrets_setup_gpg_fingerprint_importedkey_found: true

  - name: Configure the git user
    block:
    - ansible.builtin.command: git config --global user.name "{{ bot_user }}"
    - ansible.builtin.command: git config --global user.email "{{ bot_email }}"

  - name: Register GnuPG key organization secrets
    block:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/get.yml"
      vars:
        secret_name: 'GPG_PUBLIC_KEY'
        request_bearer: "{{ secrets_token }}"
    - ansible.builtin.set_fact:
        b64encoded_gpg_public_key: "{{ githoster_get_secret }}"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/get.yml"
      vars:
        secret_name: 'GPG_PRIVATE_KEY'
        request_bearer: "{{ secrets_token }}"
    - ansible.builtin.set_fact:
        b64encoded_gpg_private_key: "{{ githoster_get_secret }}"

  - when: b64encoded_gpg_private_key | length == 0 or b64encoded_gpg_public_key | length == 0
    module_defaults:
      ansible.builtin.command:
        chdir: "{{ secrets_cwd }}"
    block:
    - name: Generate GnuPG key
      ansible.builtin.command: "{{ gpg_genkey_cmd + ' user1 default default never' }}"

    - name: Register GnuPG list keys output into a parseable format
      ansible.builtin.command: "{{ gpg_listkeys_cmd }}"
      register: gpg_listkeys_colonsfmt

    - name: Catch the generated GnuPG key ID
      ansible.builtin.set_fact:
        gpg_fingerprint_generatedkey: "{{ item | regex_replace('^fpr:+([^:]+):$','\\1') }}"
        gpg_fingerprint_generatedkey_found: false
      when: item.startswith('fpr') and gpg_fingerprint_generatedkey_found
      loop: "{{ gpg_listkeys_colonsfmt.stdout_lines }}"

    - name: Register the GnuPG key
      block:
      - ansible.builtin.command: "{{ gpg_exportkey_cmd + ' ' + gpg_fingerprint_generatedkey }}"
        register: gpg_public_key
      - ansible.builtin.command: "{{ gpg_exportprivatekey_cmd + ' ' + gpg_fingerprint_generatedkey }}"
        register: gpg_private_key

    - name: Create the GnuPG key as an organization secret
      block:
      - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/create.yml"
        vars:
          secret_name: 'GPG_PUBLIC_KEY'
          secret_value: "{{ gpg_public_key.stdout | b64encode }}"
          secret_visibility: 'all'
          request_bearer: "{{ secrets_token }}"
      - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/create.yml"
        vars:
          secret_name: 'GPG_PRIVATE_KEY'
          secret_value: "{{ gpg_private_key.stdout | b64encode }}"
          secret_visibility: 'all'
          request_bearer: "{{ secrets_token }}"

    - name: Initialize the password-store
      ansible.builtin.command: "{{ passwordstore_encrypt_cmd + ' ' + gpg_fingerprint_generatedkey }}"
      environment:
        PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    - name: Initialize git with the password-store
      ansible.builtin.command:
        cmd: "{{ passwordstore_git_cmd + ' init' }}"
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
      environment:
        PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    - name: Create the remote repository for the password-store
      ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/repository/create.yml"
      vars:
        repo_name: "{{ repo_passwordstore }}"
        request_bearer: "{{ secrets_token }}"
    - name: Add the newly created remote repository to the password-store
      ansible.builtin.command:
        cmd: "{{ passwordstore_git_cmd + ' remote add origin https://' + secrets_token + '@' + githoster + '/' + repo_passwordstore + '.git' }}"
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
      environment:
        PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    - name: Modify the default branch name
      ansible.builtin.command:
        cmd: "{{ passwordstore_git_cmd + ' branch -M main' }}"
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
      environment:
        PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    - name: Push the password-store
      ansible.builtin.command:
        cmd: "{{ passwordstore_git_cmd + ' push --set-upstream --all' }}"
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
      environment:
        PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    - name: Add the password-store repository as a submodule of the main repository
      ansible.builtin.command: git submodule add "{{ repo_passwordstore_url }}" "{{ repo_main_passwordstore_submodule_path }}"
    - name: Stage the password-store repository as a submodule of the main repository
      ansible.builtin.command: git add -A
    - name: Commit the password-store repository as a submodule of the main repository
      ansible.builtin.command: git commit --amend -m 'init'
    - name: Push the main repository with its new password-store submodule
      ansible.builtin.command: git push -f

    - ansible.builtin.set_fact:
        b64encoded_gpg_public_key: "{{ gpg_public_key.stdout | b64encode }}"
        b64encoded_gpg_private_key: "{{ gpg_private_key.stdout | b64encode }}"

  - name: Cast the GnuPG key variables into strings
    ansible.builtin.set_fact:
      secrets_setup_gpg_public_key: "{{ b64encoded_gpg_public_key }}"
      secrets_setup_gpg_private_key: "{{ b64encoded_gpg_private_key }}"

  - name: Import the GnuPG key
    block:
    - ansible.builtin.command:
        cmd: "{{ gpg_importkey_cmd }}"
        stdin: "{{ secrets_setup_gpg_public_key | b64decode }}"
    - ansible.builtin.command:
        cmd: "{{ gpg_importkey_cmd }}"
        stdin: "{{ secrets_setup_gpg_private_key | b64decode }}"

  - name: Register GnuPG list keys output into a parseable format
    ansible.builtin.command: "{{ gpg_listkeys_cmd }}"
    register: gpg_listkeys_colonsfmt
  - name: Catch the imported GnuPG key ID
    ansible.builtin.set_fact:
      secrets_setup_gpg_fingerprint_importedkey: "{{ item | regex_replace('^fpr:+([^:]+):$','\\1') }}"
      secrets_setup_gpg_fingerprint_importedkey_found: false
    when: item.startswith('fpr') and secrets_setup_gpg_fingerprint_importedkey_found
    loop: "{{ gpg_listkeys_colonsfmt.stdout_lines }}"
  - name: Add the ultimate trust level for the imported GnuPG key
    ansible.builtin.command:
      cmd: "{{ gpg_importtrust_cmd }}"
      stdin: "{{ secrets_setup_gpg_fingerprint_importedkey }}:6:"

  - name: Switch the password-store submodule from detached mode to the main branch
    ansible.builtin.command:
      cmd: "{{ passwordstore_git_cmd + ' checkout main' }}"
      chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    environment:
      PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
  rescue:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/pre/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/secrets/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/post/cleanup.yml"
    - ansible.builtin.fail:
        msg: "A previous rescued task failed"
