---

# TODO: put this into a daily executed pipeline
# TODO: store the old gpg private and public keys into the password-store into a dedicated directory
# TODO: generate a revocation key to revocate the old private and public keys

- block:
  - ansible.builtin.set_fact:
      gpg_listkeys_colonsfmt: {}
      gpg_keys: []
      gpg_keys_user: ""
      gpg_keys_user_found: true
      secrets_reencrypt_gpg_fingerprint_generatedkey: ""
      gpg_fingerprint_generatedkey_found: true
      secrets_reencrypt_gpg_public_key: ""
      secrets_reencrypt_gpg_private_key: ""

  - name: Register GnuPG list keys output into a parseable format
    ansible.builtin.command: "{{ gpg_listkeys_cmd }}"
    register: gpg_listkeys_colonsfmt

  - name: Register all GnuPG keys into an array
    ansible.builtin.set_fact:
      gpg_keys: "{{ gpg_keys + [item | regex_replace('^fpr:+([^:]+):$','\\1')] }}"
    when: item.startswith('fpr')
    loop: "{{ gpg_listkeys_colonsfmt.stdout_lines }}"

  - name: Register current user of the key
    ansible.builtin.set_fact:
      gpg_keys_user: "{{ item | regex_replace('^uid:u:+[^:]+:+[^:]+:+([^:]+):+[^:]:$','\\1') }}"
      gpg_keys_user_found: false
    when: item.startswith('uid:u') and gpg_keys_user_found
    loop: "{{ gpg_listkeys_colonsfmt.stdout_lines }}"

  - name: Generate GnuPG key
    block:
    - ansible.builtin.command: "{{ gpg_genkey_cmd + ' user2 default default never' }}"
      when: gpg_keys_user == "user1"
    - ansible.builtin.command: "{{ gpg_genkey_cmd + ' user1 default default never' }}"
      when: gpg_keys_user == "user2"

  - name: Register GnuPG list keys output into a parseable format
    ansible.builtin.command: "{{ gpg_listkeys_cmd }}"
    register: gpg_listkeys_colonsfmt

  - name: Catch the generated GnuPG key ID
    ansible.builtin.set_fact:
      secrets_reencrypt_gpg_fingerprint_generatedkey: "{{ item | regex_replace('^fpr:+([^:]+):$','\\1') }}"
      gpg_fingerprint_generatedkey_found: false
    when: item.startswith('fpr') and gpg_fingerprint_generatedkey_found and ((item | regex_replace('^fpr:+([^:]+):$','\\1')) not in gpg_keys)
    loop: "{{ gpg_listkeys_colonsfmt.stdout_lines }}"

  - name: Register the new GnuPG key
    block:
    - ansible.builtin.command: "{{ gpg_exportkey_cmd + ' ' + secrets_reencrypt_gpg_fingerprint_generatedkey }}"
      register: secrets_reencrypt_gpg_public_key
    - ansible.builtin.command: "{{ gpg_exportprivatekey_cmd + ' ' + secrets_reencrypt_gpg_fingerprint_generatedkey }}"
      register: secrets_reencrypt_gpg_private_key

  - name: Cast the GnuPG key variables into strings
    ansible.builtin.set_fact:
      secrets_reencrypt_gpg_public_key: "{{ secrets_reencrypt_gpg_public_key.stdout | b64encode }}"
      secrets_reencrypt_gpg_private_key: "{{ secrets_reencrypt_gpg_private_key.stdout | b64encode }}"

  - name: Replace the current GnuPG key organization secrets with the new GnuPG key
    block:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/update.yml"
      vars:
        secret_name: 'GPG_PUBLIC_KEY'
        secret_value: "{{ secrets_reencrypt_gpg_public_key }}"
        request_bearer: "{{ secrets_token }}"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/git-hoster/secret/update.yml"
      vars:
        secret_name: 'GPG_PRIVATE_KEY'
        secret_value: "{{ secrets_reencrypt_gpg_private_key }}"
        request_bearer: "{{ secrets_token }}"

  - module_defaults:
      ansible.builtin.command:
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    block:
    - name: Reencrypt the password-store with the new GnuPG key
      ansible.builtin.command: "{{ passwordstore_encrypt_cmd + ' ' + secrets_reencrypt_gpg_fingerprint_generatedkey }}"
    - name: Push the password-store
      ansible.builtin.command: "{{ passwordstore_git_cmd + ' push' }}"
    environment:
      PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"

  - module_defaults:
      ansible.builtin.command:
        chdir: "{{ secrets_cwd }}"
    block:
    - name: Stage the updated password-store submodule of the main repository
      ansible.builtin.command: git add -A
    - name: Commit the updated password-store submodule of the main repository
      ansible.builtin.command: git commit -m 'Update the password-store submodule'
    - name: Push the main repository with the updated password-store submodule
      ansible.builtin.command: git push
  rescue:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/pre/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/secrets/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/post/cleanup.yml"
    - ansible.builtin.fail:
        msg: "A previous rescued task failed"
