---

- block:
  - module_defaults:
      ansible.builtin.command:
        chdir: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
    block:
    - name: Add the new password
      ansible.builtin.command:
        cmd: "{{ passwordstore_add_cmd + ' ' + secrets_add_path }}"
        stdin: "{{ secrets_add_password }}"
    - name: Push the password-store
      ansible.builtin.command: "{{ passwordstore_git_cmd + ' push' }}"
    environment:
      PASSWORD_STORE_DIR: "{{ secrets_cwd + '/' + repo_main_passwordstore_submodule_path }}"
  - module_defaults:
      ansible.builtin.command:
        chdir: "{{ secrets_cwd }}"
    block:
    - name: Stage the updated password-store submodule of the main repository
      ansible.builtin.command: git add -A
    - name: Commit the updated password-store submodule of the main repository
      ansible.builtin.command: git commit -m 'Update the password-store submodule'
    - name: Push the main repository with the updated password-store submodule
      ansible.builtin.command: git push
  rescue:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/pre/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/secrets/cleanup.yml"
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/tests/secrets/post/cleanup.yml"
    - ansible.builtin.fail:
        msg: "A previous rescued task failed"
